* {
	box-sizing: border-box;
	position: relative;
}

html {
	font-size: 30px;
}

body {
	background: #ff1ac6;
	font-family: sans-serif;
	font-size: 100%;
	text-align: center;
}

a {
	color: #fff;
	font-size: 3vmin;
	opacity: .5;
	text-decoration: non;
}

a: hover {
	opacity: 1; 
}

h1 {
	-webkit-animation: extrude 4s
	infinite step-end;
		animation: extrude 4s infinite 
	step-end;
		color: #4da6ff;
		display: block;
		font: 700 20vmin/1 "Yanone 
	Kaffeesatz",sans-serif; 
		letter-spacing: 1vmin;
		margin: 2vmin auto;
		text-transform: uppercase;
		text-shadow: 0;
	}
	
h1:nth-of-type(1) {
	-webkit-animation-delay: 2s;
		animation-delay: 2s;
				
}

h1:nth-of-type(2) {
	-webkit-animation-delay: 3s;
		animation-delay: 3s;
				
}

h1:nth-of-type(3) {
	-webkit-animation-delay: 4s;
		animation-delay: 4s;
				
}
		
h1:nth-of-type(4) {
	-webkit-animation-delay: 5s;
		animation-delay: 5s;
				
}

@-webkit-keyframes extrude {
  0% {
    text-shadow: 1px 1px #303180, 2px 2px #303180, 3px 3px #303180, 4px 4px #303180, 5px 5px #303180, 6px 6px #303180, 7px 7px #303180, 8px 8px #303180, 9px 9px #303180, 10px 10px #303180, 10px 11px #0081c2, 8px 12px #0081c2, 6px 13px #0081c2, 4px 14px #0081c2, 2px 15px #0081c2, 0px 16px #0081c2, -2px 17px #0081c2, -4px 18px #0081c2, -6px 19px #0081c2, -8px 20px #0081c2, -10px 21px #0081c2;
  }
  25% {
    text-shadow: none;
  }
}
@keyframes extrude {
  0% {
    text-shadow: 1px 1px #303180, 2px 2px #303180, 3px 3px #303180, 4px 4px #303180, 5px 5px #303180, 6px 6px #303180, 7px 7px #303180, 8px 8px #303180, 9px 9px #303180, 10px 10px #303180, 10px 11px #0081c2, 8px 12px #0081c2, 6px 13px #0081c2, 4px 14px #0081c2, 2px 15px #0081c2, 0px 16px #0081c2, -2px 17px #0081c2, -4px 18px #0081c2, -6px 19px #0081c2, -8px 20px #0081c2, -10px 21px #0081c2;
  }
  25% {
    text-shadow: none;
  }
}
			
		